@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,800&display=swap);
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    font-family: Nunito, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    overflow: hidden;
    background: #ff8c00;
    font-size: 14px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important
}
body{
    overflow: hidden;
}
* {   
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
}
a {
    color: #333
}

a:hover {
    text-decoration: none
}

br,
p {
    font-size: .9rem;
    margin: 0 0 8px;
    color: #000
}

strong {
    font-weight: 700
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

h1,
h2 {
    margin: 0 0 22px
}

h5 {
    margin: 0 0 4px
}

h6 {
    line-height: 18px
}

h1 {
    line-height: 44px;
    font-size: 3.3rem
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 42px
}

h3,
h4 {
    font-weight: 400;
    letter-spacing: normal
}

h3 {
    font-size: 1.4rem;
    line-height: 1.45;
    margin-top: 6px
}

h4 {
    font-size: 1.2rem;
    line-height: 24px;
    margin: 0
}

h5 {
    font-size: .89rem;
    font-weight: 700;
    letter-spacing: normal
}

h6 {
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: normal
}

/*#wrap {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: calc(100% + 10px);
    overflow: visible
}*/
#wrap { 
    position: absolute;
    top: -5px;
    left: 0;
    width:100%; 
    height: calc(100% + 10px);
    -webkit-overflow-scrolling:touch;
    overflow-y:scroll
} 
/* change the width + height */
#iframe-wrap iframe {
    width:100%;
    height:100%
}
.back {
    font-size: 1rem;
    padding-top: 15px
}

.logo-inside {
    margin-top: 40px;
    text-align: center
}

.tit-page {
    margin: 20px auto;
    text-transform: uppercase;
    text-align: center;
    background-color: #ff8c00;
    display: inline-block;
    border-radius: 2px;
    font-size: .9rem;
    font-weight: 600;
    padding: 4px 10px;
    color: #fff
}

.title-style04 {
    text-transform: uppercase!important
}

.call {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: #0082bf;
    display: inline-block;
    border-radius: 2px;
    font-size: .78rem;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 4px 8px;
    color: #fff
}

.call a {
    color: #fff
}

.call a:hover {
    text-decoration: none
}

.call i {
    margin-right: 5px;
    font-size: .9rem;
    font-weight: 400
}

.underline04 {
    display: inline-block;
    padding-bottom: 4px;
    position: relative
}

.title-left.underline04::before {
    margin-left: 2px;
    margin-bottom: 2px
}

.underline04::before {
    bottom: 7px;
    height: 2px;
    position: absolute;
    width: 30px
}

.underline04::after,
.underline04::before {
    content: "";
    display: block;
    background-color: #ff8c00
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.title-left.underline04::after {
    width: auto;
    margin-left: 2px
}

.underline04::after {
    background: rgba(133, 133, 133, .5);
    height: 1px;
    margin: 3px auto 5px;
    width: 250px
}

.underline04::after,
.underline04::before {
    content: "";
    display: block
}

.videocontainer {
    margin-bottom: 10px
}

.nav_center_logo {
    float: left;
    width: 50%;
    padding: 0;
    text-align: center
}

.nav_center_logo img {
    height: 23px
}

.site {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff
}

.site .menu {
    width: 70%;
    height: calc(100% - 30px);
    overflow-y: auto;
    position: absolute;
    left: -75%;
    background: #ff8c00;
    z-index: 12;
    display: none
}

.site .menu .hd {
    background: #fff;
    background: -moz-linear-gradient(-45deg, #fff 0, #dceff4 61%, #f3f3f3 61%, #fff 100%);
    background: -webkit-linear-gradient(-45deg, #fff 0, #dceff4 61%, #f3f3f3 61%, #fff 100%);
    background: linear-gradient(135deg, #fff 0, #dceff4 61%, #f3f3f3 61%, #fff 100%);
    padding: 10px
}

.site .menu .hd .logo {
    height: 67px;
    width: 100%;
    background: url(../img/applogo.png) no-repeat center center;
    background-size: auto 45px, cover;
    margin-bottom: -2px;
    margin-top: 5px
}

.site .menu .hd .text {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-align: center
}

.site .menu .mn {
    padding: 5px 0;
    line-height: 33px;
    margin-bottom: 10px
}

ul.mn {
    list-style: none;
    display: inline-block
}

.site .menu .mn [class^=icon] {
    width: 15px;
    height: 15px;
    margin-top: 9px;
    margin-right: 17px
}

.site .menu .mn:last-child {
    border-bottom: 0
}

.site .menu .mn h2 {
    padding: 0 25px;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 1px #fff;
    line-height: 0
}

.site .menu .mn a {
    display: flex;
    color: #fff;
    font-size: 17px;
    padding: 0 25px;
    font-weight: 600;
    text-decoration: none
}

.site .menu .mn i {
    width: 25px;
    font-size: 15px
}

.site .menu .mn a:last-child {
    margin-bottom: 0
}

.site .head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 41px;
    background: #ff8c00;
    color: #fff;
    padding-top: 9px;
    z-index: 8
}

.site .head .title {
    background: url(../img/icones/rpb.png) no-repeat left center;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 3px;
    font-weight: 500
}

.site .head .share {
    text-align: right;
    padding-top: 4px;
    padding-right: 10px;
    cursor: pointer
}

.site .head .menus {
    padding-left: 10px;
    padding-top: 4px;
    cursor: pointer
}

.open {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 10
}

.title-left.underline04::before {
    margin-left: 2px;
    margin-bottom: 2px
}

.title-left.underline04::after {
    width: auto;
    margin-left: 2px
}

.underline04::after {
    background: rgba(133, 133, 133, .5);
    height: 1px;
    margin: 3px auto 5px;
    width: 250px
}

.underline04::before {
    bottom: 7px;
    height: 2px;
    position: absolute;
    width: 30px
}

#playcontrols #stopbutton,
.bar-footer #activityindicator {
    display: none
}

#playcontrols #playbutton {
    display: block;
    width: 40px;
    height: 40px
}

#playcontrols #textposition {
    position: absolute;
    float: left;
    font-size: 14px!important;
    font-weight: 400;
    margin-left: 32px;
    max-height: 32px;
    color: #fff
}

#barra {
    position: absolute;
    bottom: 0;
    padding-top: 8px;
    z-index: 9999
}

#barra .player {
    padding-left: 11px;
    z-index: 9999999
}

#barra .home {
    margin: 0 auto;
    text-align: center
}

#barra .contato {
    text-align: right;
    padding-right: 10px
}

.ui-content {
    clear: both;
    padding: 0;
    z-index: 10
}

footer {
    width: 100%;
    max-height: 30px;
    z-index: 999;
    position: fixed;
    bottom: 0;
    padding: 3px 10px 6px;
    overflow: hidden;
    overflow-x: hidden;
    background: #ff8c00;
    color: #fff
}

.icons-footer .user img {
    width: 20px
}

.icons-footer .favoritos img {
    width: 22px;
    height: 21px
}

.icons-footer .home img {
    width: 20px;
    height: 20px
}

.icons-footer .filtros img {
    width: 19px;
    padding-top: 1px
}

.icons-footer .promocoes img {
    width: 20px;
    height: 19px
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.sem-conexao {
    height: 100px;
    width: 85%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 28vh
}

.element-animation {
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: animationFrames ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    -o-animation: animationFrames ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards;
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards
}

.element-animation2 {
    animation: animationFrames ease 1.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    -webkit-animation: animationFrames ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: animationFrames ease 1.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    -o-animation: animationFrames ease 1.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards;
    -ms-animation: animationFrames ease 1.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards
}

.element-animation3 {
    animation: animationFrames ease 1.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    -webkit-animation: animationFrames ease 1.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: animationFrames ease 1.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards;
    -o-animation: animationFrames ease 1.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards;
    -ms-animation: animationFrames ease 1.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards
}

@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px, 0)
    }
    60% {
        opacity: 1;
        transform: translate(30px, 0)
    }
    80% {
        transform: translate(-10px, 0)
    }
    100% {
        opacity: 1;
        transform: translate(0, 0)
    }
}